body {
  color: #3e3420;
}

.btn {
  color: #3f3520;
  background-color: #d4cfc3;
  border-color: #b9b2a0;
}

.btn:hover {
  color: #d6d4d2;
  background-color: #6d6758;
  border-color: #635f55;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url('../images/lion.jpg');
  background-size: 100% auto;
  background-position: middle;
}

.zoo-header {
  background-color: #d4cfc4;
  padding: .2em .5em;
  margin-bottom: .4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoo-header .title {
  font-size: 28px;
}

.options .btn {
  color: #d4cfc3;
  background-color: #67635a;
  border-color: #948a72;
}

.options .btn:hover {
  color: #aba69c;
  background-color: #33312d;
  border-color: #776f5b;
}

.contents {
  padding-bottom: 2em;
}

h2 {
  font-size: 40px;
  padding-bottom: .2em;
  border-bottom: 1px solid #3e3420;
}

.animal-filter {
  display: inline-block;
  max-width: 160px;
}

#animal-panels {
  display: flex;
  flex-wrap: wrap;
}

.animal-panel {
  width: 30%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-color: #d4cfc3;
  color: #3e3420;
}

.animal-panel:hover {
  cursor: pointer;
  background-color: #f1f0ec;
  border-color: #b7b0a1;
}

.animal-panel .panel-heading {
  background-color: #e4e1d8;
  border-color: #d4cfc3;
  color: #3e3420;
}

.animal-panel .panel-footer {
  background-color: #f1f0ec;
  border-color: #d4cfc3;
  color: #3e3420;
}


.panel-heading h3 {
  display: inline-block;
  width: 34%;
  min-width: 60px;
}

.panel-heading h4 {
  display: inline-block;
  width: 63%;
  min-width: 100px;
  text-align: right;
}

.panel-footer h5 {
  display: inline-block;
  width: 49%;
  min-width: 100px;
}

.caretakers {
  text-align: right;
}

.animal-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  #animal-panels {
    display: block;
  }

  .animal-panel {
    width: 80%;
    min-width: 350px;
  }
}

@media screen and (max-width: 460px) {
  .zoo-header {
    display: block;
  }

  .zoo-header .title {
    display: block;
    text-align: center;
    margin-bottom: .2em;
  }

  .zoo-header .options {
    display: block;
    text-align: center;
    margin-bottom: .5em;
  }

  .animal-panel {
    width: 90%;
    min-width: 200px;
  }

  .panel-heading h3 {
    display: block;
    width: 100%;
  }

  .panel-heading h4 {
    display: block;
    width: 100%;
    min-width: 100px;
    text-align: left;
  }

  .panel-footer h5 {
    display: block;
    width: 100%;
  }

  .caretakers {
    text-align: left;
  }

  .animal-form {
    width: 95%;
  }

  .animal-form .row {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
}
